<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcom</title>
<link th:href="@{/css/style.css}" rel=stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylsheet" type="text/css">
<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
<header>
<section class="section-header">
<a th:href="@{/}">
<img alt="logo" src="https://via.placeholder.com/150x50">
</a>
<nav>
<ul>
<li><a th:href="@{/}">Home</a></li>
<li><a th:href="@{/infos}">Infos</a></li>
</ul>
</nav>
</section>
</header>
<section class="section-apply">
<h1>More infos</h1>
</section>
<section class="section-article">
<article>
<h3>Strages</h3>
<p>Strages est une bonne homa e qimeristev sdvmb lashkdncsk dscjbsjd sdmjcbdj smdjcgs alsd n </p>
</article>
<article>
<h3>Strages</h3>
<p>Strages est une bonne homa e qimeristev sdvmb lashkdncsk dscjbsjd sdmjcbdj smdjcgs alsd n </p>
</article>
</section>
</body>
</html>